body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-left: 10%;
    margin-right: 10%;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 10px 38px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
  }

  .topnav a.active {
    background-color: rgb(97, 148, 196, 0.5);
  }

.biobox {
    margin-top: 5px;
    margin-left: 20px;
}

.bio {
    margin-left: 33%;
    margin-right: 5%;
    padding-top: 65px;
    font-size: 18px;
}
.bio .intro {
    font-size: 30px;
    font-weight: 300;
}

.bio .info {
  margin: 3px;
}

.biobox img {
    margin-top: 38px;
    float: left;
}

.tableauPlaceholder {
    margin-top: 7%;
    margin-left: 10%;
}

.calligraphybox {
  margin-left: 18%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.project .title {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  margin-left: 35%;
  color: black;
  font-size: 23px;
  text-decoration: none;
  padding-top: 25px;
}

.project img {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  padding-left: 5px;
}

.project {
  clear: both;
}

.project .projectdetail {
  text-decoration: none;
  color: black;
  margin-left: 35%;
  margin-right: 3%;
  font-size: 17px;
  clear: right;
}

footer {
  clear: both;
}